@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 100px;
  z-index: 99;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
  display: inline-block;
}

header ul li a {
  text-decoration: none;
  padding: 15px;
  color: #ffff;
  border-radius: 20px;
}


section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 100px;
}

/* section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 999999;
} */

section::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 999999;
}

#about {
  background: #1c0522;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#about > * {
  display: block; 
  margin: 10px 0; 
}

/* #about::after{
  content: "";
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, #1c0522, #bc1de4);
  z-index: 999999;
} */

/*parallax scroll*/

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}

section img#clouds {
  z-index: 10;
}

#intro {
  position: absolute;
  right: -200px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 11;
  text-shadow: 0 0 10px black;
}

.sec {
  position: relative;
  padding: 100px;
  background:  #38084a;
}

.sec_alt {
  position: relative;
  padding: 100px;
  background: #54175f;
}

.sec_alt h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec_alt p {
  font-size: 1em;
  color: #fff;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p {
  font-size: 1em;
  color: #fff;
}

.nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background: #1c0522;
  z-index: 10;
}

.nav-bar ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nav-bar li {
  margin: 0 5rem;
  padding: 0.8rem;
  list-style: none;
}

.nav-bar a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

.nav-bar a:hover {
  /* text-decoration: none;
  text-transform: uppercase; */
  color: #aca8a8;
  transition: 0.2s ease;
}

/*profile pic css*/

.profile-div {
  height: 230px;
  width: 230px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 1rem;
  margin: 0; 
  padding: 0;
  box-sizing: content-box;
}

.profile-div .profile-pic {
  width: 100%;
}

.about-header {
  margin-bottom: 1rem;
  margin-top: 3rem;
  color: #fff;
  font-size: 30px;
}

.about-section {
  line-height: 3rem;
  margin: 4rem 4rem 1rem 4rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-bottom: 3rem;
}

.card {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 25px;
  margin: 20px 20px;
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.45);
}

.card .project-icons {
  display: inline-block;
  height: 30px;
  margin: 5px;
  margin-bottom: -15px;
}

.card h4 {
  padding-bottom: 10px;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  font-weight: 300;
  text-transform: none;
  color: #2a2a2a;
}

.project-img {
  border-radius: 2%;
  max-width: 400px;
  height: 250px;
  size: cover;
}

.skills-icons-list li {
  list-style: none;
  margin: 20px;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
}

.icon-text {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: none;
  padding: 0.5rem;
}

.skills-icons-list li img:hover {
  transform: scale(1.3);
}

.footer {
  background-color: #a0acbd;
  color: #f5f5f5;
  text-align: center;
}

.footer-text {
  padding: 1rem 0;
  font-size: 1.3rem;
}

.footer-icon {
  list-style: none;
  padding: 0.5rem 0rem;
}

.footer-icon-list {
  display: inline-block;
  margin: 0 0.8rem;
  padding-bottom: 0.33rem;
}

.footer-icon-list img {
  text-decoration: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
}

@media (max-width: 700px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
    height: 100%; 
  }

  .navbar-links ul {
    flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links ul .active {
    display: flex;
  }
}

.navbar-links.active {
  display: flex;
}